:root {
  --second-hue: 219;
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --body-color: hsl(219, 50%, 4%);
  --container-color: hsl(var(--second-hue), 32%, 12%);
  --nav-link: hsl(var(--second-hue), 8%, 75%);
}

/* Switcher */

.switcher__radio {
  filter: invert(1);
}

.switcher__radio:checked {
  filter: invert(0);
}

.switcher__status {
  filter: invert(1);
}